@charset "utf-8";

/* common */
* {
  font-family: sans-serif;
  color: #fff;
  --color: #882a33;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

section {
  background-color: var(--color);
  margin: 10px;
  padding: 10px;
}

h1, h2, .programs, nav a {
  font-family: 'Calibri', 'Open Sans', sans-serif;
}

h2 {
  border-bottom: solid 1px rgba(255, 255, 255, .5);
  line-height: .8;
  font-size: 32px;
  padding: 10px 10px 0;
  margin-bottom: 20px;
  text-decoration: none;
  font-style: italic;
}

h2 small {
  display: inline-block;
  padding-left: 10px;
  font-style: normal;
}
h3 {
  margin: 10px 0 0;
  text-shadow: 1px 1px 2px #500;
}

p {
  line-height: 2;
}

/* header */
nav {
  margin: 10px 10px 0;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  flex-grow: 1;
  padding: 10px;
}
nav li a {
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, .8);
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  font-style: italic;
}

header {
  background-color: var(--color);
  background: url(images/Top.jpg) center;
  position: relative;
  margin: 0 10px 10px;
}

header div {
  background-color: rgba(0, 0, 0, .5);
}

h1 {
  padding: 200px 0 250px 20px;
  font-style: italic;
  font-size: 42px;
  z-index: 1;
}

/* main */

main p {
  margin-bottom: 20px;
}
th {
  padding: 0 20px 5px 0;
  vertical-align: top;
  font-size: 18px;
}
td {
  padding: 0 0 15px;
}
td div {
  line-height: 1;
  margin-bottom: 10px;
  border-left: 2px solid #fff;
  padding-left: 5px;
}
main small {
  font-size: 14px;
}
/* main img {
  box-shadow: 2px 2px 2px #555 inset;
}効いてない */
/* #aboutUs */

/* #concert */

/* #records */

/* footer */
footer {
  text-align: center;
  padding: 30px;
}
footer h2,
footer small {
  color: var(--color);
  line-height: 1;
}