@charset "utf-8";

/* common */
* {
  font-family: 'Calibri','Candara','Segoe Script','Arial',sans-serif;
  color: #fff;
  --color: #7e2a2c;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

section {
  background-color: var(--color);
  margin: 10px;
  padding: 10px;
}

h2 {
  border-bottom: solid 1px rgba(255, 255, 255, .5);
  line-height: .8;
  padding: 10px 10px 0;
  margin-bottom: 10px;
  text-decoration: none;
}

h3 {
  margin-top: 10px;
  position: relative;
}

h3::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
}

p {
  line-height: 2;
}

nav {
  margin: 10px 10px 0;
  background-color: var(--color);
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  flex-grow: 1;
  padding: 10px;
}
nav li a {
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, .8);
  text-decoration: none;
  font-size: 24px;
  text-align: center;
}
/* header */
header {
  background-color: var(--color);
  position: relative;
  z-index: -20;
  margin: 0 10px 10px;
}

h1 {
  padding: 200px 0 250px 20px;
  font-style: italic;
  font-size: 42px;
}

header img {
  transform: rotate(30deg);
  width: 100%;
  position: absolute;
  top: -10px;
  right: 10%;
  z-index: -10;
  height: 100%;
  width: auto;
}
/* main */
.img {
  content: "";
  transform: skewX(-30deg);
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  float: right;
}
.img::after {
  content: "";
  position: absolute;
  transform-origin: bottom left;
  background-color: red;
  width: 500px;
  height: 300px;
  clear: both;
  transform: skewX(30deg);
  background-size: cover;
}

/* #aboutUs */

/* #concert */

/* #records */

/* footer */
footer {
  text-align: center;
  padding: 30px;
}
footer h2,
footer small {
  color: var(--color);
}